/* utility classes */
.scrollable {
  overflow: auto;
}

.block {
  display: block;
}

.inline_block {
  display: inline-block;
}

.wide {
  box-sizing: border-box;
  width: 100%;
}

.image_body {
  max-width: 70%;
}

/* tag definitions */
html {
  height: 98%;
  --thumbBG: #FFB000;
  --scrollbarBG: #101010;
  --foreground: #FFB000;
  --background: #101010;
}
body {
  height: 98%;
  color: var(--foreground);
  background-color: var(--background);
  font-family: monospace;
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
input {
  font-family: monospace;
}

/* pane styling */
#client {
  display: flex;
  flex-direction: row;
  height: 100%;
}

/* ---------- */

#room_pane {
  height: 100%;
  flex: 0 0 auto;
  width: 30em;
  padding: 12px;
}

/* ---------- */

#message_pane {
  height: 100%;
  flex-basis: 0;
  flex-grow: 1;
  padding: 12px;
  border-left: 5px solid #333333;
  border-right: 5px solid #333333;
  overflow-x: hidden;
}

#messages {
  overflow-y: scroll;
  overflow-x: hidden;
  margin-top: 1.5em;
  /* this can cut off characters */
  /* idk how to fix though */
  height: 85%;
  display: flex;
  flex-direction: column-reverse;
}

#message_box {
  margin-top: 12px;
}

#text_input {
  border-radius: 0px;
  border: 0px;
  background-color: var(--background);
  color: var(--foreground);
  caret-color: var(--foreground);
}

/* ---------- */

#right_pane{
  height: 100%;
  flex: 0 0 auto;
  width: 30em;
  padding: 12px;
}
